name: CI (Behave) Test Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  behave-tests:
    runs-on: ubuntu-latest  # Use Linux OS

    permissions:
      issues: write
      checks: write
      pull-requests: write      

    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4  #v3
      - name: print content of repo
        run: |
          ls

      # Step 2: Setup Python environment
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'  # Specify the Python version

      # Step 3: Install dependencies
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install behave

      # Step 4: Run Behave tests from the features folder
      - name: Run Behave Tests
        run: |
          mkdir -p test-results  # Ensure the directory exists
          behave features/ --junit --junit-directory=test-results # Specify the features folder and save results
          ls test-results/
        # behave features/ --junit --junit-directory=test-results  --no-capture --no-skipped --verbose

      # Step 5b: Upload Behave test results
      - name: Upload Behave Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: behave-test-results
          path: test-results/         

      # Step 5a: Publish Behave test results
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            test-results/**/*.xml 
    
      # Step 6a: Create Issue
      - name: Create an issue
        if: failure()
        uses: dacbd/create-issue-action@main
        with:
          token: ${{ github.token }}
          title: |
            [${{ github.workflow }}] failed during [${{ github.event_name }}]
          assignees: ${{ github.actor }},${{ github.triggering_actor }}
          body: |
            ## Failure Report:
            
            > [!IMPORTANT]
            > Details on failed run: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
    
            - Author: @${{ github.triggering_actor }}
            - Branch: `${{ github.ref }}`
            - Commit: ${{ github.sha }}
            - Workflow Path: `${{ github.workflow_ref }}`
    
            - [ ] **Task**: Review failed run, fix the issue(s), and re-run until successful.
    
            > This issue was created automatically by GitHub, 
            > through `dacbd/create-issue-action@main` action
            > and KemingHe's contribution.
            > **DO NOT** close this issue until resolved.
            
      # Step 6b: Annotate Test Failures
      - name: Annotate Test Failures
        if: failure()
        uses: actions/github-script@v6
        with:
          script: |
            const fs = require('fs');
            const path = require('path');
            const resultsPath = path.join('test-results', 'TESTS-calculator.xml');
            const results = fs.readFileSync(resultsPath, 'utf8');
            core.setFailed(`Test Failures Detected:\n${results}`);
